@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
* {
    font-family: 'Montserrat', sans-serif;
    zoom: 98%;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #171717;
}

.box {
    width: 500px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 27px;
    padding-right: 27px;
    margin-left: auto;
    margin-right: auto;
    background: #917839;
    text-align: center;
    border-radius: 10px;
}

.box h3 {
    color: white;
    text-transform: uppercase;
    font-weight: 200;
    font-size: 21px;
}

.box input[type="text"],
.box input[type="password"] {
    border: 0;
    background: none;
    display: block;
    margin: 8px;
    text-align: center;
    border: 1px solid black;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    font-size: 15px;
}

.box input[type="submit"] {
    border: 0;
    background: none;
    display: block;
    margin: 10px auto;
    text-align: center;
    border: 2px solid white;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
    font-weight: 500;
}

.box input[type="submit"]:hover {
    background: rgb(255, 255, 255);
    color: #c49d3c;
    opacity: 0.6;
}

::placeholder {
    color: white;
    opacity: 0.5;
}

#logo {
    padding-top: 0px;
    height: 220px;
    width: 220px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
    color: white;
    /*background-color: #917839;*/
}

.user {
    color: #171717;
    font-weight: bolder;
    margin: 2px;
    display: inline-flex;
}

.user h3 {
    color: #171717;
    font-weight: bolder;
    margin: 2px;
    display: inline-flex;
}

.user ::placeholder {
    color: white;
    opacity: 1;
}

.repetir {
    text-align: center;
    margin-left: 28%;
    margin-right: 28%;
}

h4 {
    text-transform: uppercase;
    margin: 0%;
}

button {
    border: 0;
    background: none;
    display: block;
    margin: 10px auto;
    margin-top: 20px;
    text-align: center;
    border: 2px solid white;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
    font-weight: 500;
}

button:hover {
    background: rgb(255, 255, 255);
    color: #c49d3c;
    opacity: 0.6;
}