@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
* {
    font-family: 'Montserrat', sans-serif;
}
@media (min-width: 375px) and (max-width:767px) {
    /* Para mobil */

    body {
        margin: 0;
        padding: 0;
        font-family: sans-serif;
        background: #171717;
    }
    
    .box {
        width: 500px;
        height: 383px;
        padding-top: 10px;
        padding-bottom: 30px;
        padding-left: 27px;
        padding-right: 27px;
        margin-left: auto;
        margin-right: auto;
        background: #917839;
        text-align: center;
        border-radius: 10px;
    }
    
    .box h3 {
        color: white;
        text-transform: uppercase;
        font-weight: 500;
        font-size: 21px;
    }
    
    .box input[type="text"],
    .box input[type="password"] {
        border: 0;
        background: none;
        display: block;
        margin: 20px auto;
        text-align: center;
        border: 1px solid black;
        padding: 14px 10px;
        width: 200px;
        outline: none;
        color: white;
        border-radius: 24px;
        transition: 0.25s;
    }
    
    .box input[type="text"]:focus,
    .box input[type="password"]:focus {
        width: 280px;
        border-color: white;
    }
    
    .box input[type="submit"] {
        border: 0;
        background: none;
        display: block;
        margin: 20px auto;
        text-align: center;
        border: 2px solid white;
        padding: 14px 40px;
        outline: none;
        color: white;
        border-radius: 24px;
        transition: 0.25s;
        cursor: pointer;
        font-weight: 500;
    }
    
    .box input[type="submit"]:hover {
        background: white;
        color: #c49d3c;
    }
    
    ::placeholder {
        color: white;
        opacity: 0.5;
    }
    
    #logo {
        padding-top: 10px;
        height: 260px;
        width: 242px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    
    a {
        text-decoration: none;
        color: white;
        /*background-color: #917839;*/
    }
}

@media (min-width: 768px){
    /* Para Portatiles */

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #171717;
}

.box {
    width: 300px;
    padding-top: 10px;
    padding-bottom: 30px;
    padding-left: 27px;
    padding-right: 27px;
    margin-left: auto;
    margin-right: auto;
    background: #917839;
    text-align: center;
    border-radius: 10px;
}

.box h3 {
    color: white;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 21px;
}

.box input[type="text"],
.box input[type="password"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 1px solid black;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
}

.box input[type="text"]:focus,
.box input[type="password"]:focus {
    width: 280px;
    border-color: white;
}

.box input[type="submit"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid white;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
    font-weight: 500;
}

.box input[type="submit"]:hover {
    background: white;
    color: #c49d3c;
}

::placeholder {
    color: white;
    opacity: 0.5;
}

#logo {
    padding-top: 10px;
    height: 260px;
    width: 242px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
    color: white;
    /*background-color: #917839;*/
}
}

